@import "colors.scss";

/** General ******************************************************************/

* {
    all: unset;
    font-family: Helvetica Neue LT Std;
}

tooltip {
    background-color: $mantle;
}


/** Top bar ******************************************************************/

.bar-container {
    background-color: transparent;
}

.bar { 
    background-color: transparentize($crust, 0.6);

    padding: 3px;
}

.modules-right {
    border-radius:    12px;
    background-color: transparentize($lavender, 0.95);
}

/** Lockscreen ***************************************************************/

.lockscreen {
    background-image: url("./assets/images/forest.png");

    min-width:  1920px;
    min-height: 1080px;
}

.lockscreen_menu_container {
    border-radius:    24px;
    background-color: transparentize($mantle, 0.90);
    box-shadow:       5px 10px 9px transparentize($crust, 0.75);

    min-height:       100px;
}

.lockscreen_button_container {
    background-color: transparent;
}

.lockscreen_button {
    min-width:   100px;

    font-size:   60px;
    color:       $lavender;

    transition: 350ms;
    &:hover {
        font-size: 80px;
    }
}

.lockscreen_button_return:hover {
    color: $mauve;
}

.lockscreen_button_poweroff:hover {
    color: $red;
}

.lockscreen_button_reboot:hover {
    color: $peach;
}

/** Widgets ******************************************************************/

@import "widgets/clock.scss";
@import "widgets/wifi.scss";
@import "widgets/workspaces.scss";
@import "widgets/power.scss";
@import "widgets/battery.scss";
