@import "colors.scss";

/** General ******************************************************************/

* {
    all: unset;
    font-family: Helvetica Neue LT Std;
}

.tooltip {
    background-color: $crust;
}


/** Top bar ******************************************************************/

.bar-container {
    background-color: transparent;
}

.bar { 
    background-color: transparentize($crust, 0.6);

    padding-left:  8px;
    padding-right: 8px;
}


/** Widgets ******************************************************************/

@import "widgets/clock.scss";
@import "widgets/wifi.scss";
