@import "../colors.scss";

.clock {
    background-color: transparent;
    border-radius: 12px;

    transition: 350ms;
    &:hover {
        background-color: transparentize($lavender, 0.85);
    }
}

.clock-inner {
    margin-left:  10px;
    margin-right: 10px;
    margin-top:   3px;
    font-size:    13px;
}
