@import "../colors.scss";

.battery_container {
    border-radius: 12px;

    transition: 350ms;
    &:hover {
        background-color: transparentize($lavender, 0.85);
    }
}

.battery_inner {
    margin-left:  10px;
    margin-right: 10px;
}

.battery, .battery_charging {
    font-size:     14.6px;
	padding-left:  1px;
    border-radius: 100%;
}

.battery {
    color: $peach;
}

.battery_charging {
    color: $sapphire;
}

.battery_level_text {
    padding-top: 3px;
    margin-left: 5px;
    font-size:   13px;
};

