@import "../colors.scss";

.power_icon {
    border-radius: 12px;

    font-size:     14.2px;
    color:         $red;

    min-width:     24px;
    padding-right: 3px;

    transition: 350ms;
    &:hover {
        background-color: transparentize($lavender, 0.85);
        min-width: 60px;
    }
}


