@import "../colors.scss";

.wifi {
    background-color: transparent;
    border-radius: 12px;

    transition: 350ms;
    &:hover {
        background-color: transparentize($lavender, 0.85);
    }
}

.wifi-inner {
    margin-left:  10px;
    margin-right: 10px;
}

.wifi_icon, .wifi_off_icon {
    font-size:     15px;
    border-radius: 100%;
}

.wifi_icon {
    color: $green;
}

.wifi_off_icon {
    color: $red;
}

.ssid_text {
    padding-top: 3px;
    font-size:   12px;
}
