@import "../colors.scss";

.wifi, .wifi-off {
    background-color: transparent;
    border-radius: 12px;
}

.wifi {
    transition: 350ms;
    &:hover {
        background-color: transparentize($lavender, 0.85);
    }
}

.wifi-inner {
    margin-left:  10px;
    margin-right: 10px;
}

.wifi_icon, .wifi_off_icon {
    font-size:     15.6px;
    border-radius: 100%;

    padding-top: 0.7px;
}

.wifi_icon {
    color: $blue;
}

.wifi_off_icon {
    color: $red;
}

.ssid_text {
    padding-top: 3px;
    margin-left: 10px;
    font-size:   12px;
}
