@import "../colors.scss";

.workspaces{
    padding:       6px;
}

.workspace_current, .workspace_active, .workspace_inactive {
    min-width:     10px;
    min-height:    10px;
    border-radius: 100%;
}

.workspace_current {
    background-color: $mauve;
}

.workspace_active {
    background-color: transparentize($lavender, 0.2);
}

.workspace_inactive {
    background-color: transparentize($lavender, 0.9);
}
